#main-page .hero .hero-title .hero-title-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main-page .hero .hero-title .hero-title-subject .heading img {
    width: 8rem;
    height: 8rem;
  }


  .modal .modal-window form .fields #image-container img {
    width: 100%;
  }