@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

#messenger {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#messenger #chat-list {
  width: 16%;
  display: flex;
  list-style: none;
  flex-direction: column;
  background-color: #D5D5EB;
  border-right: 0.2px solid #000000;
  flex-wrap: nowrap;
}
#messenger #chat-list .chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding: 10px 25px;
}
#messenger #chat-list .chat img {
  width: 45px;
  height: 45px;
}
#messenger #chat-list .chat .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 70px);
}
#messenger #chat-list .chat .info .name {
  font-weight: 500;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#messenger #chat-list .chat .info .last-message {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #686868;
}
#messenger #chat-list .chat.current-user-message .last-message {
  position: relative;
  padding-left: 26px;
}
#messenger #chat-list .chat.current-user-message .last-message::before {
  content: "Вы: ";
  position: absolute;
  left: 0;
  color: #5880BC;
}
#messenger #chat-list .chat.current-user-message:hover .last-message::before {
  transition: color 0.2s ease-in-out;
  color: #FFFFFF;
}
#messenger #chat-list .chat:hover {
  cursor: pointer;
  background-color: #809CC8;
  transition: background-color 0.2s ease-in-out;
}
#messenger #chat-list .chat:hover .info .name {
  color: #FFFFFF;
  transition: color 0.2s ease-in-out;
}
#messenger #chat-list .chat:hover .info .last-message {
  color: #FFFFFF;
  transition: color 0.2s ease-in-out;
}
#messenger #chat-list .chat.active {
  background-color: #7091C2;
  transition: background-color 0.2s ease-in-out;
}
#messenger #chat-list .chat.active .info .name {
  color: #FFFFFF;
  transition: color 0.2s ease-in-out;
}
#messenger #chat-list .chat.active .info .last-message {
  color: #FFFFFF;
  transition: color 0.2s ease-in-out;
}
#messenger #chat-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#messenger #chat-panel #chat-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #D5D5EB;
  padding: 10px 40px 10px 25px;
  border-bottom: 0.2px solid #000000;
  cursor: pointer;
}
#messenger #chat-panel #chat-info img {
  width: 45px;
  height: 45px;
}
#messenger #chat-panel #chat-info .name {
  font-size: 23px;
}
#messenger #chat-panel #chat-history {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
  padding: 25px;
}
#messenger #chat-panel #chat-history .message {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 10px;
}
#messenger #chat-panel #chat-history .message img {
  width: 30px;
  height: 30px;
}
#messenger #chat-panel #chat-history .message .content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #D5D5EB;
  border-radius: 18px;
}
#messenger #chat-panel #chat-history .message .content .name {
  cursor: default;
  font-size: 16px;
  font-weight: bold;
  text-overflow: ellipsis;
}
#messenger #chat-panel #chat-history .message .content .text {
  cursor: default;
  font-size: 16px;
}
#messenger #chat-panel #chat-history .message.current-user-message .content {
  background-color: #809CC8;
  color: #FFFFFF;
}
#messenger #chat-panel #chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 25px;
  background-color: #D5D5EB;
  border-top: 0.2px solid #000000;
}
#messenger #chat-panel #chat-input #input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
#messenger #chat-panel #chat-input #input img {
  cursor: pointer;
  width: 29px;
  height: 29px;
}
#messenger #chat-panel #chat-input #input input {
  width: 100%;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
}
#messenger #chat-panel #chat-input button {
  font-family: "JetBrains Mono";
  background: transparent;
  border: none;
  outline: none;
  font-weight: 900;
  font-size: 48px;
}
#messenger #chat-panel #chat-input button:hover {
  cursor: pointer;
}