{% extends "base.html" %}

{% block title %}
    Календарь
{% endblock %}

{% block content %}
<div id="calendar">
    <div id="timeline">
        <button>❮</button>
        <!-- <p id="year">2026</p> -->
        <ul id="days">
            <li class="day">
                <a class="date">26.02</a>
                <ul class="daily-tasks">
                    <li class="task priority4">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                    <li class="task priority3">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                    <li class="task priority2">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                    <li class="task priority1">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                    <li class="task priority0">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                </ul>
            </li>
            <li class="day">
                <a class="date">27.02</a>
                <ul class="daily-tasks">
                    <li class="task priority1">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                </ul>
            </li>
            <li class="day">
                <a class="date">28.02</a>
                <ul class="daily-tasks">
                    <li class="task priority2">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                    <li class="task priority0">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                </ul>
            </li>
            <li class="day">
                <a class="date">29.02</a>
                <ul class="daily-tasks">
                </ul>
            </li>
            <li class="day">
                <a class="date">01.03</a>
                <ul class="daily-tasks">
                    <li class="task priority4">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                </ul>
            </li>
            <li class="day">
                <a class="date">02.03</a>
                <ul class="daily-tasks">
                    <li class="task priority4">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                    <li class="task priority2">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                    <li class="task priority2">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                    <li class="task priority1">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                    <li class="task priority1">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                    <li class="task priority1">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                </ul>
            </li>
            <li class="day">
                <a class="date">03.03</a>
                <ul class="daily-tasks">
                    <li class="task priority3">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                    <li class="task priority0">
                        <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a>
                    </li>
                </ul>
            </li>
        </ul>
        <button>❯</button>
    </div>
    <div id="panels">
        <ul id="sprints">
            До конца спринта {{ 6 }} дней
            <li class="sprint-title">
                <a>30.03.2026-19.04.2026</a>
            </li>
        </ul>
        <ul id="events">
            Мероприятия
            <li>
                <div class="event">
                    <a>Планёрка — 31.03.2026</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="/static/js/calendar.js"></script>
{% endblock %}