{% extends "base.html" %}

{% block title %}
    Календарь
{% endblock %}

{% block content %}
<div id="calendar">
    <div id="timeline">
        <button>❮</button>
        <!-- <p id="year">2026</p> -->
        <ul id="days">
            {% for date, tasks in dates.items %}
                <li class="day">
                    <a class="date">{{ tasks.0.do_before }}</a>
                    <ul class="daily-tasks">
                        {% for task in tasks %}
                            <li class="task priority4">
                                <a>{{ task.name|truncatechars:57 }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <button>❯</button>
    </div>
</div>
<script src="/static/js/calendar.js"></script>
{% endblock %}