{% extends "base.html" %}

{% block title %}
    Календарь
{% endblock %}

{% block content %}
<div id="calendar">
    <div id="timeline">
        <button>❮</button>
        <!-- <p id="year">2026</p> -->
        <ul id="days">
            {% for date, tasks in dates.items %}
                <li class="day">
                    <a class="date">{{ tasks.0.do_before }}</a>
                    <ul class="daily-tasks">
                        {% for task in tasks %}
                            <li class="task priority4">
                                <a>{{ task.name|truncatechars:57 }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <button>❯</button>
    </div>
    <!-- <div id="panels">
        <ul id="sprints">
            До конца спринта {{ 6 }} дней
            <li class="sprint-title">
                <a>30.03.2026-19.04.2026</a>
            </li>
        </ul>
        <ul id="events">
            Мероприятия
            <li>
                <div class="event">
                    <a>Планёрка — 31.03.2026</a>
                </div>
            </li>
        </ul>
    </div> -->
</div>
<script src="/static/js/calendar.js"></script>
{% endblock %}