{% extends "base.html" %}

{% block title %}
    Manager Task
{% endblock %}

{% block content %}
    <ul id="boards">
        <!-- {% for board in boards %}
        <li class="board">
            <form action="/boards/tasks/{{ board.id }}">
                <button type="submit">
                    <div class="board-name">{{ board.name }}</div>
                </button>
            </form>
        </li>
        {% endfor %} -->
        <li class="board-btn">
            <form action="">
                <button type="submit" class="active">
                    <div class="board-name">Сделать</div>
                </button>
            </form>
        </li>
        <li class="board-btn">
            <form action="">
                <button type="submit">
                    <div class="board-name">В работе</div>
                </button>
            </form>
        </li>
        <li class="board-btn">
            <form action="">
                <button type="submit">
                    <div class="board-name">Готово</div>
                </button>
            </form>
        </li>
        <li class="board-btn">
            <form action="">
                <button type="submit">
                    <div class="board-name">+</div>
                </button>
            </form>
        </li>
    </ul>
    <ul id="task-list">
        {% for task in tasks %}
        <li class="task">
            <form action="/tasks/info/{{ task.id }}">
                <button type="submit">
                    <div class="task-image"><img src="/media/{{task.image}}" alt="profile image"></div>
                    <div class="task-name">{{ task.name|truncatechars:25 }}</div>
                    <div class="task-text">{{ task.text|truncatechars:50 }}</div>
                    <div class="task-date">{{ task.do_before }}</div>
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <img class="add-task-btn" href="/tasks/add" src="../static/images/plus.png">
    </form>
{% endblock %}
