{% extends "base.html" %}

{% block title %}
  {{ task.name }}
{% endblock %}

{% block content %}
  <div id="task-info">
    <div class="task-info-top">
      <div class="header">
        <div class="page-title">
          {{task.name}}
        </div>
        <div class="task-info-created-by">
          <a style="color: #4654EB">Альберт Тирия</a>
          {{task.by_user}}
        </div>
      </div>
      <div class="task-info-date">
        {{task.created_at}}
      </div>
      <div class="task-info-edit">
        <a>
            <img class="task-info-edit-img">
        </a>
      </div>
    </div>
    <div class="task-info-middle">
      <div class="task-info-text">
        {{task.text}}
      </div>
      <div class="task-info-do-before">
        <img src=/media/{{task.image}}>
        {{ task.do_before }}
      </div>
    </div>
    <div class="task-info-comments">
      <form  action="/tasks/add_comment" class="add-comment">
          <textarea class="add-comment-field" placeholder="Добавить комментарий..."></textarea>
          <button class="add-comment-submitBtn"  type="submit">Добавить</button>
      </form>
      <ul class="comments"> 

        <li class="comment">
          <div class="comment-header">
              <div class="comment-user-image">
                <img src="https://source.unsplash.com/random/200x200?sig=1">
              </div>
              <div class="comment-user-name">
                Lorem ipsum
              </div>
              <div class="comment-created-at">
                12.04.2015
              </div>
            </div> 
            <div class="comment-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </div>
        </li>
        <li class="comment">
          <div class="comment-header">
              <div class="comment-user-image">
                <img src="https://source.unsplash.com/random/200x200?sig=1">
              </div>
              <div class="comment-user-name">
                Lorem ipsum
              </div>
              <div class="comment-created-at">
                12.04.2015
              </div>
            </div> 
            <div class="comment-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </div>
        </li>
        <li class="comment">
          <div class="comment-header">
              <div class="comment-user-image">
                <img src="https://source.unsplash.com/random/200x200?sig=1">
              </div>
              <div class="comment-user-name">
                Lorem ipsum
              </div>
              <div class="comment-created-at">
                12.04.2015
              </div>
            </div> 
            <div class="comment-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </div>
        </li>
        <li class="comment">
          <div class="comment-header">
              <div class="comment-user-image">
                <img src="https://source.unsplash.com/random/200x200?sig=1">
              </div>
              <div class="comment-user-name">
                Lorem ipsum
              </div>
              <div class="comment-created-at">
                12.04.2015
              </div>
            </div> 
            <div class="comment-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </div>
        </li>
      </ul>
  </div>
  </div>
{% endblock %}