{% extends "base.html" %}

{% block title %}
  {{ task.name }}
{% endblock %}

{% block content %}
  <div id="task-info">
    <div class="task-info-top">
      <div class="header">
        <div class="page-title">
          {{task.name}}
        </div>
        <div class="task-info-created-by">
          <a style="color: #4654EB">Альберт Тирия</a>
          {{task.by_user}}
        </div>
      </div>
      <div class="task-info-date">
        {{task.created_at}}
      </div>
      <div class="task-info-edit">
        <a>
            <img class="task-info-edit-img">
        </a>
      </div>
    </div>
    <div class="task-info-middle">
      <div class="task-info-text">
        {{task.text}}
      </div>
      <div class="task-info-do-before">
        <img src=/media/{{task.image}}>
        {{ task.do_before }}
      </div>
    </div>
    <div class="task-info-comments">
      <form  action="/tasks/add_comment" class="add-comment">
          <textarea class="add-comment-field" placeholder="Добавить комментарий..."></textarea>
          <button class="add-comment-submitBtn"  type="submit">Добавить</button>
      </form>
      <ul class="comments"> 
        {% for comment in comments %} 
        <li class="comment">
          <div class="header">
              <div class="comment-image">
                <img src="/static/images/profile.png">
              </div>
              <div class="comment-user-name">
                {{ comment.user }}
              </div>
              <div class="comment-created-at">
                {{ comment.creation_date }}
              </div>
            </div> 
            <div class="comment-text">
              {{ comment.text }}
            </div>
        </li> 
        {% endfor %}

   
      </ul>
  </div>
  </div>
{% endblock %}